<div id="info">
  <div id="humidity">
    <p id="humidity_text">Humidity: {{weather?.main?.humidity}}%</p>
  </div>
  <div id="pressure">
    <p id="pressure_text">Pressure: {{weather?.main?.pressure}}(mb)</p>
  </div>
  <div id="temp_high">
    <p id="temp_high_text">High Temp: {{weather?.main?.temp_max}}<span id="degrees_symbol">&deg;</span></p>
  </div>
  <div id="temp_low">
    <p id="temp_low_text">Low Temp: {{weather?.main?.temp_min}}<span id="degrees_symbol">&deg;</span></p>
  </div>
</div>
