/* You can add global styles to this file, and also import other style files */

* {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
  margin:0px;
  padding:0px;
  font-family: 'Heebo';
  font-weight: 400;
  color: rgba(0,0,0,0.5);
}
